{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">New Test</li>
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
      
    <div class="row form-group data-container">
      <div class="col-3">
        <label>Test Name: </label>
      </div>
      <div class="col-9">
        <input type="text" id="test_name" name="test_name" class="form-control"/>
      </div>
    </div>

    <div class="row" id="test_container">
      {% for j in j|rjust:5 %}<!--Тут цикл в 5 елементів (вопроси)-->
        <div id="queston_1" name="queston_1" class="col-12 form-group data-container">
          <div class="row">
            <div class="col-3">
              <label>Question: </label>
            </div>
            <div class="col-9">
              <textarea  name="question_text_{{ forloop.counter }}" class="form-control"></textarea>
            </div>
          </div>
          <ul>
          {% for i in i|rjust:4 %}<!--Тут цикл в 4 елемента (відповіді)--> 
            <li>
              <div class="row">
                <div class="col-1">
                  <input type="radio" name="correct_answer_{{forloop.parentloop.counter}}" value="answer_{{forloop.parentloop.counter}}_{{forloop.counter}}" checked/>
                </div>
                <div class="col-11">
                  <input type="text" name="answer_{{forloop.parentloop.counter}}_{{ forloop.counter }}" class="form-control"/>
                </div>
              </div>
            </li>
          {% endfor %}
          </ul>
          <button type="button" class="btn btn-danger btn-sm">Remove</button>
        </div>
        {% endfor %}
      </div>
  </form>

  <div class="row">
    <div class="col-6">
      <button id="add_question_button" class="btn btn-primary float-right">Add Question</button>
    </div>
    <div class="col-6">
      <button id="save_test_button" class="btn btn-success float-left">Save Test</button>
    </div>
  </div>

{% endblock %}