{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{{test.name}}</li>
{% endblock %}

{% block content %}
        <!-- block test -->
        <h2>{{test.name}}</h2>
        <br>
        <h3>{{test.description}}</h3
        <h4>Test pass {{test.pass_counter}} times</h4>
        <form method="post" novalidate>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Start test</button>
        </form>
        <!-- block comments -->
        {% for comment in test.get_comments %}
          <p>{{comment}}  {{comment.created_at}}</p>
          <p>{{comment.created_by}}</p>
          <br>  
         {% endfor %} 
        <a href="new_comment" class="btn btn-primary btn-block">Add comment</a>
{% endblock %}